{% extends "header.html" %}
{% block body %}
<body>
	<div class="container">
		<br>
		<h4 style="text-align:center">Please Login:</h4>
		<br>
		<form action="" class="form-inline" method="post" style="margin-left: 25%; width: 50%;">
			<input type="text" class="form-control" placeholder = "Username" name="username" value="{{request.form.username}}">
			<input type="password" class="form-control" placeholder = "Password" name="password" value="{{request.form.password}}">
			<input class="btn btn-default" type="submit" value="Login">
		</form>
	</div>
</body>
{% endblock %}