<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/landing_page.css" />
    <title>Document</title>
</head>
<body>
    <main class="main">
        <p class="main_hello">Hello!</p>
        <p class="main_text">Do you want to Log in or Register?</p>
        <div class="wrapper">
            <a href="/login/">
                <button class="login">Log in</button>
            </a>
            <a href="/register/">
                <button class="register">Register</button>
            </a>
        </div>
    </main>
</body>
</html>