.main a{
    width: 10%;
    height: 5rem;
    display: block;
    /*margin-right: 10px;*/
    /*background:rgba(255,255,255,0.5);*/
    border: transparent;
    opacity: 0.7;
}
.main button{
    width: 60%;
    height: 50%;
    opacity: 0.7;
}
.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}