html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.main{
    background-image: url("/static/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    border: none;
}
._main_form{
    margin: auto;
    background-color: transparent;
}
._main_input{
    /*background-color: transparent;*/
    min-height: 10em;
    width: 30em;
}
body::-webkit-scrollbar { width: 0 !important }
.main p{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 100;
    letter-spacing: 0px;
}
.main_hello{
    font-size: 3em;
    line-height: 61px;
}
.main_text{
    font-size: 3em;
    /*line-height:*/
}
#editedPhrase{
    position: relative;
    bottom: 7em;
    font-size: 3em;
}