<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../static/js/main.js"></script>
{#    <script src="../static/js/insert.js"></script>#}
    <title></title>
</head>
<body>
    <main class="main">
        <p class="main_hello">Hello!</p>
        <p class="main_text">Please enter phrase {} in a window below</p>
        <form class="_main_form" name ="main_input">
            <input type="text" class="_main_input" id="main_input" />
        </form>
    </main>
</body>
</html>